* {
    margin: 0;
    padding: 0;
    container-sizing: border-container;
}

@font-face {
    font-family: f1titulos;
    src: url(../assets/fonts/f1clasico.ttf);
}

@font-face {
    font-family: f1textos;
    src: url(../assets/fonts/f1texto.ttf);
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "article"
        "footer";
    width: 100vw;
    justify-content: center;
}

/*.container-body {
    display: grid;
    justify-content: center;
    width: 70vw;
}*/

header {
    display: grid;
    grid-template-areas:
        "container-logotipo" "container-titulos" "container-boton";
    grid-template-columns: auto auto auto;
    background-color: #74ACDF;
    width: 70vw;
    height: auto;
}

.container-logotipo {
    display: grid;
    grid-area: "container-logotipo";
    width: 20vw;
}

.container-titulos {
    display: grid;
    grid-area: "container-titulos";
    width: 40vw;
    text-align: center;
    align-items: center;
    font-family: "f1titulos";
    font-size: 14px;
}

.container-boton {
    display: grid;
    grid-area: "container-boton";
    width: 10vw;
    justify-content: center;
    align-items: center;
}

img.boton-modo-pantalla {
    width: 4vw;
    height: 4vw;
    font-family: "f1textos";
}

article {
    display: grid;
    grid-template-areas:
        "container-imagenes"
        "containerTextos";
    width: 70vw;
    height: auto;
}

.container-imagenes {
    display: block;
    grid-area: "container-imagenes";
    width: 70vw;
    height: 20vw;
    background-image: url(../assets/images/suzuka-circuito-aereo.jpg);
    background-size: 70vw;
    background-position: bottom;
}

.imagen-dialogos {
    object-fit: cover;
    width: auto;
    height: 100%;
    float: right;
}
.containerTextos {
    display: grid;
    grid-area: "containerTextos";
    background-color: #F5F5F4;
    width: 70vw;
    height: auto;
    font-family: "f1textos";
    font-size: 14px;
}

.textos {
    font-family: "f1textos";
    font-size: 24px;
}
footer {
    display: grid;
    background-color: #EE0000;
    width: 70vw;
    height: 15vw;
    grid-area: footer;
    font-family: "f1textos";
    color: white;
    font-size: 1em;
    text-align: center;
}

.caja-pie-de-pagina {
    width: 70vw;
    height: auto;
    background-color: #e10600;
    grid-area: footer;
}

.florencia-mancilla {
    grid-area: firma;
}

.icono-instagram {
    grid-area: instagram;
}

.comunidad-reddit {
    grid-area: comunidad;
}

.icono-reddit {
    grid-area: reddit;
}

.copy {
    grid-area: copy;
}

.f1 {
    grid-area: f1;
}

.f1 p {
    font-style: none;
}

.container-redes-sociales {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-column: auto auto auto;
    grid-row: 6vw 9vw;
    grid-template-areas:
        "firma comunidad copy"
        "instagram reddit f1";
    width: 70vw;
}
/*Dark Mode*/
.dark-mode {
    background-color: #15202B;
}

.textosDarkMode {
    background-color: #65809E;
    color: #F5F5F4;
}

@media (max-width: 992px) {
    body {
        display: grid;
        grid-template-areas:
            "header"
            "article"
            "footer";
        width: 100%;
        justify-content: center;
    }

    header {
        display: grid;
        grid-template-areas:
            "container-logotipo" "container-titulos" "container-boton";
        grid-template-columns: auto auto auto;
        background-color: #74ACDF;
        width: 100vw;
        height: 15vw;
    }

    .container-logotipo {
        display: grid;
        grid-area: "container-logotipo";
        width: 25vw;
    }

    .container-titulos {
        display: grid;
        grid-area: "container-titulos";
        width: 60vw;
        text-align: center;
        align-items: center;
        font-family: "f1titulos";
        font-size: 10px;
    }

    .container-boton {
        display: grid;
        grid-area: "container-boton";
        width: 15vw;
        justify-content: center;
        align-items: center;
    }

    img.boton-modo-pantalla {
        width: 10vw;
        height: 10vw;
        align-items: center;
    }

    .boton-claro-oscuro {
width: auto;
height: auto;
    }

    article {
        display: grid;
        grid-template-areas:
            "container-imagenes"
            "containerTextos";
        width: 100vw;
        height: auto;
    }

    .container-imagenes {
        display: block;
        grid-area: "container-imagenes";
        width: 100vw;
        height: 35vw;
    }

    .img-fondo {
        width: 100%;
        height: 100%;
        display: block;
    }

    .containerTextos {
        display: grid;
        grid-area: "containerTextos";
        background-color: #F5F5F4;
        width: 100vw;
        height: auto;
        font-family: "f1textos";
    }

    footer {
        display: grid;
        background-color: #EE0000;
        width: 100vw;
        height: 15vw;
        grid-area: footer;
        font-family: "f1textos";
        color: white;
        font-size: 1em;
        text-align: center;
    }

    .dark-mode {
        background-color: #15202B;
    }

    .textosDarkMode {
        background-color: #65809E;
        color: #F5F5F4;
    }
}

/*BOTONES SIGUIENTE */
:root {
    --bg: #3C465C;
    --primary: #6667AB;
    --solid: #fff;
    --btn-w: 10em;
    --dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.btn {
    position: relative;
    margin: 0 auto;
    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    background-color: #E5E5E5;
    line-height: 2em;
    cursor: pointer;
}

.dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
}

.dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: var(--primary);
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
        0 0 2em var(--primary);
}

.btn:hover .dot,
.btn:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
}

@keyframes atom {
    0% {
        transform: translateX(0) rotate(0);
    }

    30% {
        transform: translateX(var(--tr-X)) rotate(0);
    }

    50% {
        transform: translateX(var(--tr-X)) rotate(180deg);
    }

    80% {
        transform: translateX(0) rotate(180deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);
    }
}

/*BOTONES OPCIONES*/
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.btn2 {
    position: relative;
    margin: 0 auto;
    width: auto;
    color: #E9435E;
    border: .15em solid #E9435E;
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    background-color: #E5E5E5;
    line-height: 2em;
    cursor: pointer;
}

.dot2 {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
}

.dot2:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: #E9435E;
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
        0 0 2em #E9435E;
}

.btn2:hover .dot2,
.btn2:focus .dot2 {
    animation: atom 2s infinite linear;
    display: block;
}

@keyframes atom {
    0% {
        transform: translateX(0) rotate(0);
    }

    30% {
        transform: translateX(var(--tr-X)) rotate(0);
    }

    50% {
        transform: translateX(var(--tr-X)) rotate(180deg);
    }

    80% {
        transform: translateX(0) rotate(180deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);
    }
}

